<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.samba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app"
        android:label="Samba"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Samba"
        tools:targetApi="31">
        <activity
            android:name=".Activity_Direcciones_Envio"
            android:exported="false" />
        <activity
            android:name=".Activity_Mis_Productos"
            android:exported="false" />
        <activity
            android:name=".Activity_Pedidos"
            android:exported="false" />
        <activity
            android:name=".Activity_Metodos_Pago"
            android:exported="false" />
        <activity
            android:name=".Activity_Quienes_Somos"
            android:exported="false" />
        <activity
            android:name=".Activity_Carrito"
            android:exported="false" />
        <activity
            android:name=".Activity_Favoritos"
            android:exported="false" />
        <activity
            android:name=".Activity_Publicar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Destinos_Principales"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Samba" />
        <activity
            android:name=".Activity_Acceso"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Samba">
            <intent-filter>

                <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>